<h1>Hello, <%= @userparam.firstname%></h1> <%= link_to "Edit", edit_userparam_path(@userparam.id)%>
<%= image_tag(@userparam.avatar_url, height: '300', width: '550') %></br>
Firstname:  <%= @userparam.firstname%> </br>
Lastname:  <%= @userparam.lastname%> </br>
Country:  <%= @userparam.country%></br>
City:    <%= @userparam.city%></br>
Data of birthday:  <%= @userparam.dofb.strftime("%b %d %Y")%></br>
Phone: <%= @userparam.phone%>